{erl_opts, [
    debug_info,
    {i, "./_build/default/plugins/gpb/include"}
]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    % exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
{xref_ignores, ['MumbleUDP_gpb', 'Mumble_gpb']}.

{project_plugins, [rebar3_proper, erlfmt, rebar3_gpb_plugin, rebar3_ex_doc]}.
{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{ex_doc, [
    {extras, [
        "README.md",
        "CONTRIBUTING.md",
        "docs/TODO.md",
        "docs/component.md",
        "docs/data.md",
        "docs/message_flow.md"
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/freke/erlmur"},
    % {with_mermaid, true}
    {before_closing_body_tag, #{
        html =>
            "<script src=\"https://cdn.jsdelivr.net/npm/mermaid@11.6.0/dist/mermaid.min.js\"></script>"
    }}
]}.

{gpb_opts, [{i, "proto"}, {module_name_suffix, "_gpb"}]}.

{post_hooks, [{clean, "rm -rf *~ */*~ */*.xfm test/*.beam"}]}.

{deps, [{ranch, {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}}]}.

{relx, [
    {release, {erlmur, "0.1.0"}, [
        sasl
    ]},
    %{sys_config, "./config/sys.config"},
    %{vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {erl_opts, [export_all, nowarn_export_all]},
        {deps, [
            {meck, {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, false}
        ]}
    ]}
]}.
