{erl_opts, [
    debug_info, {i, "apps/mumble_protocol/include"}, {i, "_build/default/plugins/gpb/include"}
]}.

{project_app_dirs, ["apps/*"]}.

{cover_enabled, true}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{lib_dirs, ["apps/*", "libs/*"]}.

{xref_ignores, ['MumbleUDP_gpb', 'Mumble_gpb']}.

{project_plugins, [rebar3_proper, erlfmt, rebar3_gpb_plugin, rebar3_ex_doc]}.

{relx, [
    {release, {erlmur, "0.1.0"}, [sasl, ocb128_crypto, mumble_protocol, erlmur]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {erl_opts, [export_all, nowarn_export_all]},
        {deps, [
            {meck, {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}}
        ]}
    ]}
]}.

{deps, [
    {ranch, {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}},
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}}
]}.

{post_hooks, [{clean, "rm -rf *~ */*~ */*.xfm test/*.beam"}]}.
