{erl_opts,
  [
    debug_info,
    {parse_transform, lager_transform},
    {i, "./_build/default/plugins/gpb/include"}
  ]
}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{xref_checks,
  [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
%    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
  ]
}.

{plugins, [rebar3_gpb_plugin]}.
{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{gpb_opts, [{i, "proto"},{module_name_suffix, "_gpb"}]}.

{post_hooks, [{clean, "rm -rf *~ */*~ */*.xfm test/*.beam"}]}.


{deps,[
  {lager, {git, "git://github.com/basho/lager.git", {branch, "master"}}},
  {record_info, {git, "git://github.com/bipthelin/erlang-record_info.git", {branch, "master"}}},
  {ocb128_crypto, {git, "git://github.com/freke/ocb128_crypto.git", {branch, "master"}}}
]}.

{relx,
  [
    {release,
      {erlmur, "0.1.0"},
      [
        lager,
        sasl
      ]
    },
    %{sys_config, "./config/sys.config"},
    %{vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
  ]
}.

{profiles,
  [
    {test,
      [
        {deps,
          [
            {meck, {git, "git://github.com/eproxus/meck.git", {branch, "master"}}},
            {proper, {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
          ]
        }
      ]
    },
    {prod,
      [
        {relx,
          [
            {dev_mode, false},
            {include_erts, false}
          ]
        }
      ]
    }
  ]
}.
