{gpb_opts, [
    {i, "proto"},
    {module_name_suffix, "_gpb"},
    {o_erl, "src"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    {type_specs, true}
]}.


{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{eunit_opts, [verbose]}.

{ex_doc, [
    {extras, [
        "apps/mumble_protocol/README.md",
        {"apps/mumble_protocol/docs/establishing_connection.md", #{title => <<"Establishing Connection">>}}
    ]},
    {main, <<"README.md">>},
	{with_mermaid, "11.12.2"},
	{before_closing_body_tag, #{html => ""}}
]}.
